<mat-toolbar style="height: 70px; background-color: rgb(93, 91, 91);">
    <a><img style="width: 70px;" src="/assets/img/iconteen.png" alt=""></a>
    <span style="flex: 1 1 auto;"></span>
    <button routerLink="" mat-flat-button style="background-color: transparent; color: aliceblue; border: none; ">
        <span style="font-size: 17px;">Log out</span>
    </button>
    <button [routerLink]="['/profileuser']" mat-flat-button
        style="background-color: transparent; color: aliceblue; border: none; ">
        <span style="font-size: 17px;">Back</span>
    </button>
</mat-toolbar>

<div class="container">
    <img class="imgbcat" src="/assets/img/editcatei.png" alt="">
    
</div>
