<mat-toolbar style="height: 70px; background-color: rgb(93, 91, 91);">
    <a><img style="width: 70px;" src="/assets/img/iconteen.png" alt=""></a>
    <span style="flex: 1 1 auto;"></span>
    <button routerLink="" mat-flat-button style="background-color: transparent; color: aliceblue; border: none; ">
        <span style="font-size: 17px;">Log out</span>
    </button>
    <button [routerLink]="['/profileuser']" mat-flat-button
        style="background-color: transparent; color: aliceblue; border: none; ">
        <span style="font-size: 17px;">Back</span>
    </button>
</mat-toolbar>

<div class="container">
    <img class="imgbcat" src="/assets/img/editcatei.png" alt="">
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <mat-card class="card">
            <a href=""><img class="imgpro" src="{{user.image}}" alt=""></a>

            <span style="margin-right: 55%; margin-top: 30px;">
                Username
            </span>
            <input class="input" matInput placeholder="">

            <span style="margin-right: 41%; margin-top: 30px;">
                Original password
            </span>
            <input class="input" matInput placeholder="">

            <span style="margin-right: 46%; margin-top: 30px;">
                New password
            </span>
            <input class="input" matInput placeholder="">

            <button [routerLink]="['/profileuser']" class="button" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                Confirm edits
            </button>

        </mat-card>
    </div>
</div>
